body {
    /* Center the form on the page */
    text-align: center;
  }
  
  form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }